body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: #3d3b2c;
    text-shadow: 1px 1px 1px #000;
}

h2 {
    color: #821515;
    text-shadow: 1px 1px 1px #000;
}

header,
footer {
    color: #10100e;
    background-color: #309ab4;
    text-align: center;
    padding: 1rem;
    height: 8rem;
}

.logo {
    float: left;
    width: auto;
    max-width: 10%;
}

.contentImage {
    float: right;
    margin: 1.5em;
    padding: .3em;
    max-width: 50%;
    border: solid 1px grey;
}

nav {
    float: left;
    margin: 0;
    padding: 1em;
    width: 10rem;
}

article {
    margin-left: 11em;
    border-left: 1px solid gray;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 1em;
    margin-bottom: .5em;
    background-color: #acd7f6;
    width: 7em;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #3d3b2c;
}

nav li:hover {
    background-color: #66cc9c;
}

article a {
    color: #bb6912;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

article a:hover {
    color: #d6213f;
}

#ai {
    color: #d6213f;
}

.glowingtext {
    animation: glow 1s ease-in-out infinite alternate;

    text-shadow: 0 0 5px #f8f40d, 0 0 10px #c5ee23, 0 0 20px #38f6ba, 0 0 40px #f10b32;


}